<div class="row">
    <div class="col-12 my-5">

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'style': 'background-color: #100f0f; color: white; border-color:silver;'}}) }}
        </div>

        <div class="form-group my-5">
            {{ form_errors(form.quantity, {'attr': {'style': 'color: red;'}}) }}
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control', 'style': 'background-color: #100f0f; color: white; border-color:silver;'}}) }}
        </div>

    </div>
</div>

<div class="row my-5">
    <div class="col-12 text-center">

        {{ form_widget(form.Valider, {'attr': {'class': 'text-dark fw-bold text-uppercase py-2 px-5 rounded', 'style': 'background-color: #efefef;'}}) }}
        
        {{ form_end(form) }}

    </div>
</div>
